(use-package epa-file
  :ensure nil ;; included with Emacs
  :config
  (setq 
    epa-file-encrypt-to '({{ pass "emacs/epa-encrypt-to" | quote }})
    epa-pinentry-mode 'ask)
  :custom
  (epa-file-select-keys 'silent))

(use-package org-crypt
  :ensure nil  ;; included with org-mode
  :after org
  :config
  (org-crypt-use-before-save-magic)
  (setq org-tags-exclude-from-inheritance (quote ("crypt")))
  :custom
  (org-crypt-key {{ pass "emacs/epa-encrypt-to" | quote }}))
